---
layout: default
class: home
title: 2013 Conference
---
    <section id="speakers">
      <article>
        <div class="columns large-12">
          <h2>The Speakers</h2>
          <p>We bet you will learn something new</p>
          {% for post in site.categories.speakers %}
          <div class="speaker">
            <div class="front">
              <img src="{{ post.image }}" />
              <h3>{{ post.name }}</h3>
              <h4>{{ post.title }}</h4>
            </div>
            <div class="back">
              <h3>{{ post.name }}</h3>
              <h4>{{ post.title }}</h4>
              <p>{{ post.teaser }}</p>
              <a href="{{ post.url }}" target="_self" title="Read More"><i class="icon-facebook"></i></a>            
              {% if post.fb %}<a href="http://www.facebook.com/{{ post.fb }}" target="_blank"><i class="icon-facebook"></i></a>{% endif %}
              {% if post.tw %}<a href="http://www.twitter.com/{{ post.tw }}" target="_blank"><i class="icon-twitter"></i></a>{% endif %}
              {% if post.ww %}<a href="{{ post.ww }}" target="_blank"><i class="icon-twitter"></i></a>{% endif %}
            </div>
          </div>
          {% endfor %}
      </article>
    </section>
    
    <section id="schedule">
      <article>
        <div class="columns large-12">
          <h2>The Schedule</h2>
          <p>Here is what we plan to explore on the day</p>
          <nav class="pills">
            <a href="#day0" id="trig-day0">Oct 1</a>
            <a href="#day1" id="trig-day1">Oct 2</a>
            <a href="#day2" id="trig-day2">Oct 3</a>
          </nav>
          {% if site.categories.day0 %}
          <ul id="day0" class="planner">
            {% for post in site.categories.day0 %}
            <li>
              <span class="time">{{ post.hour}}</span>
              <span class="talk">
                <span class="session">{{ post.title }}{% if post.location %}<span class="location">{{ post.location }}</span>{% endif %}</span>
                {% if post.name %}<span class="leader">{{ post.name }}{% if post.company %}, {{ post.company }}{% endif %}</span>{% endif %}
                {% if post.expand %}
                <span class="toggle"></span>
                <span class="expanded" style="display: none;">{{ post.content }}</span>
                {% endif %}
              </span>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if site.categories.day1 %}
          <ul id="day1" class="planner">
            {% for post in site.categories.day1 %}
            <li>
              <span class="time">{{ post.hour}}</span>
              <span class="talk">
                <span class="session">{{ post.title }}{% if post.location %}<span class="location">{{ post.location }}</span>{% endif %}</span>
                {% if post.name %}<span class="leader">{{ post.name }}{% if post.company %}, {{ post.company }}{% endif %}</span>{% endif %}
                {% if post.expand %}
                <span class="toggle"></span>
                <span class="expanded" style="display: none;">{{ post.content }}</span>
                {% endif %}
              </span>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if site.categories.day2 %}
          <ul id="day2" class="planner">
            {% for post in site.categories.day2 %}
            <li>
              <span class="time">{{ post.hour}}</span>
              <span class="talk">
                <span class="session">{{ post.title }}{% if post.location %}<span class="location">{{ post.location }}</span>{% endif %}</span>
                {% if post.name %}<span class="leader">{{ post.name }}{% if post.company %}, {{ post.company }}{% endif %}</span>{% endif %}
                {% if post.expand %}
                <span class="toggle"></span>
                <span class="expanded" style="display: none;">{{ post.content }}</span>
                {% endif %}
              </span>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </article>
    </section>
    
    <section id="venue">
      <article>
        <div class="columns large-12">
          <h2>The Venue</h2>
          <p>A beautiful location close to the nation's capital</p>
          <div class="columns large-6">
            <img src="assets/images/nationalharbor.jpg" />
          </div>
          <div class="columns large-6">
            <span class="address">
              <h3>Gaylord National Resort &amp; Convention Center</h3>
              <h4>{{ site.contact.address }}</h4>
              <p>Ideally situated somewhere in the DC Metro Area, this convention center is amazing</p>
            </span>
          </div>
          <div id="map_canvas"></div>
        </div>
      </article>
    </section>
    
    <section id="sponsors">
      <article>
        <div class="columns large-12">
          <h2>The Sponsors</h2>
          <p>Our proud sponsors and supporters who made this event possible</p>
          {% if site.categories.diamond %}
          <div id="diamond" class="sponsors">
            <h3>Diamond</h3>
          {% for post in site.categories.diamond %}
            {% if post.logo %}
            <a href="{{ post.www }}" target="_blank" class="sponsorlogo"><img src="{{ post.logo }}" title="{{ post.title }}" /></a>
            {% endif %}
          {% endfor %}
          </div>
          {% endif %}
          {% if site.categories.pearl %}
          <div id="pearl" class="sponsors">
            <h3>Pearl</h3>
          {% for post in site.categories.pearl %}
            {% if post.logo %}
            <a href="{{ post.www }}" target="_blank" class="sponsorlogo"><img src="{{ post.logo }}" title="{{ post.title }}" /></a>
            {% endif %}
          {% endfor %}
          </div>
          {% endif %}
          {% if site.categories.platinum %}
          <div id="platinum" class="sponsors">
            <h3>Platinum</h3>
          {% for post in site.categories.platinum %}
            {% if post.logo %}
            <a href="{{ post.www }}" target="_blank" class="sponsorlogo"><img src="{{ post.logo }}" title="{{ post.title }}" /></a>
            {% endif %}
          {% endfor %}
          </div>
          {% endif %}
          {% if site.categories.gold %}
          <div id="gold" class="sponsors">
            <h3>Gold</h3>
          {% for post in site.categories.gold %}
            {% if post.logo %}
            <a href="{{ post.www }}" target="_blank" class="sponsorlogo"><img src="{{ post.logo }}" title="{{ post.title }}" /></a>
            {% endif %}
          {% endfor %}
          </div>
          {% endif %}
          {% if site.categories.silver %}
          <div id="silver" class="sponsors">
            <h3>silver</h3>
          {% for post in site.categories.silver %}
            {% if post.logo %}
            <a href="{{ post.www }}" target="_blank" class="sponsorlogo"><img src="{{ post.logo }}" title="{{ post.title }}" /></a>
            {% endif %}
          {% endfor %}
          </div>
          {% endif %}
          {% if site.categories.bronze %}
          <div id="bronze" class="sponsors">
            <h3>bronze</h3>
          {% for post in site.categories.bronze %}
            {% if post.logo %}
            <a href="{{ post.www }}" target="_blank" class="sponsorlogo"><img src="{{ post.logo }}" title="{{ post.title }}" /></a>
            {% endif %}
          {% endfor %}
          </div>
          {% endif %}
          
          {% if site.categories.partners %}
          <div id="partners" class="sponsors">
            <h3>partners</h3>
          {% for post in site.categories.partners %}
            {% if post.logo %}
            <a href="{{ post.www }}" target="_blank" class="sponsorlogo"><img src="{{ post.logo }}" title="{{ post.title }}" /></a>
            {% endif %}
          {% endfor %}
          </div>
          {% endif %}   
      </article>
    </section>