    <section id="regbutton">
      <article>
        <div class="columns large-12">
          <h2>Join Us</h2>
          <p>There are still available spots for participants!</p>
          <div class="counter"><span class="number" id="quantity_available">341</span><span class="text"> spaces are left.</span></div>
          <a href="#eventbrite-modal" class="registerbutton call-modal">Register Now</a>
        </div>
      </article>
    </section>
    <div id="push"></div>
  </div>
  <footer id="bottom">
    <article>
      <div class="columns large-12">
        <span><a href="http://www.diversitywoman.com" target="_blank">&copy; Diversity Woman</a></span>
        <span>|</span>
        <span><a href="http://www.bivee.co" target="_blank">Made with <b class="heart">♥</b> in DC by Bivee</a></span>
        </div>
    </article>
  </footer>

{% include scripts.html %}
{% include eventbrite_modal.html %}

</body>
</html>