<!doctype html>
<html lang="en">
<head>
  
  <title>Diversity Woman || 2013 Conference</title>
  
  <!-- // Site Info
  ====================================
  
  Version:  {{ site.version }}
  
  Launch:   {{ site.launch }}
  Updated:  {{ site.time | date_to_string }}
  
  Author:   {{ site.seo.author }}
  
  Notes:    Handcrafted by Bivee LLC
            http://www.bivee.co
  
  ====================================
  // -->
  <!-- IE Fixes  -->
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif] -->
  
  
  <!-- Primary Metadata  -->
  <meta charset="utf-8">

    
  <!-- CSS and Fonts  -->
  <link rel="stylesheet" media="screen" href="{{ site.assets.css }}style.css">
  <link rel="stylesheet" media="screen" href="{{ site.assets.css }}modal.css">
  
</head>
<body onload="initialize()">
