<!doctype html>
<html lang="en">
<head>
  
  <title>Diversity Woman || 2013 Conference</title>
  
  <!-- // Site Info
  ====================================
  
  Version:  {{ site.version }}
  
  Launch:   {{ site.launch }}
  Updated:  {{ site.time | date_to_string }}
  
  Author:   {{ site.seo.author }}
  
  Notes:    Handcrafted by Bivee LLC
            http://www.bivee.co
  
  ====================================
  // -->
  
  <!-- Primary Metadata  -->

  <link rel="stylesheet" media="screen" href="{{ site.assets.css }}style.css">

  
</head>
<body onload="initialize()">
