  <div id="container">
    <nav id="main">
      <article>
        <div class="columns large-12">
          <div id="showmenu"><i class="icon-list"></i></div>
          <ul id="menu">
            <li><a href="#container">Home</a></li>
            <li><a href="#speakers">Speakers</a></li>
            <li><a href="#schedule">Schedule</a></li>
            <li class="logo"><img src="assets/images/logo.png" /></li>
            <li><a href="#venue">Venue</a></li>
            <li><a href="#partners">Partners</a></li>
            <li><a href="#register">Register</a></li>
          </ul>
        </div>
      </article>
    </nav>
    <header>
      <article>
        <div class="columns large-12">
            <img src="assets/images/logo.png" />
            <h3><strong>October 1, 2013</strong>, Washington DC</h3>
            <h1>Mentors, Sponsors and Breaking the Glass Ceiling Through Our Allies</h1>
        </div>
      </article>
    </header>