  <div id="top"></div>
  <div id="container">
    <nav id="main">
      <article>
        <div class="columns large-12">
          <div id="showmenu">Menu</div>
          <a href="#top" id="mobiletop">Top</a>
          <a href="/" id="top-logo"><img src="assets/images/logo.png" /></a>
          <ul id="menu">
            <li class="desktop"><a href="/">Home</a></li>
            <li><a href="/#speakers">Speakers</a></li>
            <li><a href="/#schedule">Schedule</a></li>
            <li><a href="/#venue">Venue</a></li>
            <li><a href="/#sponsors">Sponsors</a></li>
            <li><a href="/#register">Register</a></li>
          </ul>
        </div>
      </article>
    </nav>
    <header>
      <article>
        <div class="columns large-12">
            <img src="assets/images/logo.png" />
            <h3><strong>October 1, 2013</strong>, Washington DC</h3>
            <h1>Mentors, Sponsors and Breaking the Glass Ceiling Through Our Allies</h1>
        </div>
      </article>
    </header>