    <section id="venue">
      <article>
        <div class="columns large-12">
          <h2>The Venue</h2>
          <p>A beautiful location close to the nation's capital</p>
          <div class="columns large-6">
            <img src="assets/images/nationalharbor.jpg" />
          </div>
          <div class="columns large-6">
            <span class="address">
              <h3>Gaylord National Resort &amp; Convention Center</h3>
              <h4>{{ site.contact.address }}</h4>
              <p>Ideally situated somewhere in the DC Metro Area, this convention center is amazing</p>
            </span>
          </div>
          <div id="map_canvas"></div>
        </div>
      </article>
    </section>